* {
	font-family: Ceberi Sans; 
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0.05rem;
}

.background-img::before {
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: -1;

	display: block;
	background-image: url('/images/background.png');
	width: 100%;
	height: 100%;

	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.eradio-color {
	color: #F58732;
}

.btn-eradio:hover {
	color: #fff;
	background-color: #f7a363;
	border-color: #f7a363;
}

.btn-eradio {
	color: #fff;
	background-color: #F58732;
	border-color: #F58732;
}

.logo-eradio {
	width: 50px;
	height: 50px;
	left: 0px;
	top: 0px;
}

.eradio-text {
	height: 36px;
	left: 50px;
	right: 0px;
	top: calc(70% - 36px/2);

	font-size: 30px;
	line-height: 38px;
	text-align: center;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #F58732 !important;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: #F58732 !important;
}


.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}

a:link, a:visited, a:active {
	text-decoration: none;
	color: #F58732;
}

a:hover {
	color: #f7a363;
	text-decoration: none;
}

input[type="checkbox"]:focus {
	outline: 0!important;
}