.card-signup {
	width: 400px;
	margin: 20% auto;
	border-radius: 1.25rem;
}

.remember-account-text, .not-have-account-text{
	font-size: 16px;
	line-height: 20px;
	align-items: center;

	color: rgba(0, 0, 0, 0.5);
}