{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
	<div class="card card-login">
		<div class="card-body">
			<div class="logo-eradio-region row">
				<div>
					<div class="logo-eradio"></div>
					<div class="eradio-text">Eradio</div>
				</div>
			</div>
			<form id="login-form row">
				<div class="form-row">
					<input type="email" class="form-control" id="login-email" placeholder="Email">
				</div>
				<div class="form-row">
					<input type="password" class="form-control" id="login-password" placeholder="Mật khẩu">
				</div>
				<div class="form-group">
					<input type="checkbox" class="form-check-input" id="remember-account">
					<label class="form-check-label" for="remember-account">
						Nhớ tài khoản của tôi
					</label>
				</div>
				<button type="submit" class="btn btn-primary"> Đăng nhập </button>
			</form>
			<div class="row not-have-account">Bạn chưa có tài khoản?</div>
			<a class="row" href="{{ url_for('sign_up') }}">Tạo tài khoản mới</a>
			
		</div>
	</div>

{% endblock %}